{% extends 'QuizManager/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block head_css_page %} 
<link href="{% static 'QuizManager/css/take_quiz.css' %}" rel="stylesheet" media="screen">
{% endblock %}
{% block title %}Take Quiz{% endblock %}
{% block content %}
<div class="row">
    <div class="col-6 mx-auto">
        <h1 class="text-center">{{quiz}}</h1>
        <form action="" method="post" class="m-3">
            {% csrf_token %}
            {% for form in forms %}
                {{form|crispy}}
            {% endfor %}
            <button class="btn btn-primary btn-lg btn-block" type="submit">Submit Answers</button>
        </form>
    </div>
</div>
{% endblock %}
{% block footer_javascript_page %}
<script>
    $(".selectmultiple").each(function () {
        var options = $(this).children('option');
        $(options).each(function () {
            var initial_index = Math.floor(options.length * (Math.random() % 1));
            var swapped_index = Math.floor(options.length * (Math.random() % 1));
            var initial_text = options[initial_index]['text']
            var initial_value = options[initial_index]['value']
            options[initial_index]['text'] = options[swapped_index]['text']
            options[initial_index]['value'] = options[swapped_index]['value']
            options[swapped_index]['text'] = initial_text
            options[swapped_index]['value'] = initial_value
        })
    });

</script>
{% endblock footer_javascript_page %}