{% extends 'QuizManager/base.html' %}
{% block title %}View Quiz{% endblock %}
{% block content %}
<div class='row'>
    <div class='col-6 mx-auto'>
        <h1 class='text-center'>{{quiz.quiz_name}}</h1>
        <div class='list-group'>
            {% for question in questions %}
            <a href="{% url 'QuizManager:view_question' question.id %}" class="list-group-item list-group-item-action text-center">{{question.question_text}}</a>
            {% endfor %}
            <br>
            <a href="{% url 'QuizManager:add_question' quiz=quiz.id %}" class="btn btn-primary btn-lg btn-block" role="button" aria-disabled="true">Add Question</a>
            {% if perms.QuizManager.change_quiz %}
            <a href="{% url 'QuizManager:edit_quiz' id=quiz.id %}" class="btn btn-primary btn-lg btn-block" role="button" aria-disabled="true">Edit Quiz</a>
            <button type="button" class="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#confirmDeleteQuiz">
                Delete Quiz
            </button>
            {% endif %}
            <a href="{% url 'QuizManager:view_quizzes' %}" class="btn btn-primary btn-lg btn-block" role="button" aria-disabled="true">Back To Quizzes</a>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmDeleteQuiz" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
            Are you sure you want to delete this Quiz?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-lg btn-block" data-dismiss="modal">Cancel</button>
          <a href="{% url 'QuizManager:delete_quiz' id=quiz.id %}" class="btn btn-danger btn-lg btn-block" role="button" aria-disabled="true">Delete Quiz</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}



