{% extends 'QuizManager/base.html' %}
{% block title %}View Question{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-4 mx-auto">
        <ul class="list-group list-group-flush mb-2">
            <li class="list-group-item">Quiz -  {{question.quiz.quiz_name}}</li>
            <li class="list-group-item">Question Text -  {{question.question_text}}</li>
            {% for choice in question.choices.all %}
            <li class="list-group-item {% if choice.correct %}bg-success{% else %}bg-danger{% endif %}">{{choice.choice_text}}</li>
            {% endfor %}
        </ul>
        {% if perms.QuizManager.change_question %}
        <a href="{% url 'QuizManager:edit_question' id=question.id %}" class="btn btn-primary btn-lg btn-block" role="button" aria-disabled="true">Edit Question</a>
        <a href="{% url 'QuizManager:edit_choices' id=question.id %}" class="btn btn-primary btn-lg btn-block" role="button" aria-disabled="true">Edit Choices</a>
        {% endif %}
    </div>
</div>
{% endblock %}