{% extends 'QuizManager/base.html' %}
{% block title%} View Quizzes {%endblock%}
{% block content %}
<div class='row'>
    <div class='col-6 mx-auto'>
        <div class='list-group'>
            {% for quiz in quizzes %}
            <a href="{% url 'QuizManager:view_quiz' quiz.id %}" class="list-group-item list-group-item-action text-center">{{quiz.quiz_name}}</a>
            {% endfor %}
        </div>
        <br>
        <a href="{% url 'QuizManager:add_quiz' %}" class="btn btn-primary btn-lg btn-block">Add Quiz</a>
    </div>
</div>
{% endblock %}